/* Тёмная тема */
.dark-theme {
    color: #ffffff;
    background-color: #000000;
  }
  
  .dark-theme .theme-button {
    color: #000000;
    background-color: #a6a6a6;
    border: 1px solid #000000;
  }
  
  .dark-theme .theme-button:focus,
  .dark-theme .theme-button:hover {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #a6a6a6;
  }
  
  .dark-theme h1 {
    color:#000000;
  }
  
  .dark-theme h2 {
    border-bottom: 2px solid #ffffff;
  }
  

  .dark-theme .site-header {
    background: #a6a6a6 no-repeat center url("img/gloevk-bg.jpg");
    color: #000000;
  }
  
  
  .dark-theme .advantages-item {
    border-left: 20px solid #9b087b;
    color: #ffffff;
  }
  
  .dark-theme .standard {
    border-color: #9b087b;
    color: #ffffff;
  }
  
  
  .dark-theme .vip {
    border-color: #9b087b;
    color: #ffffff;
  }
  
  
  .dark-theme .site-footer {
    background-color: #a6a6a6;
    color: #000000;
  }
  
  .dark-theme ul.nav a {
    background-color: #a6a6a6;
    border: 1px solid #000000;
    color: #000000;
  }
  .dark-theme ul.nav a:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000
  }