/* Светлая тема */
.page{
    color: #000000;
    background-color: #e4e4e4;
   }

  h1 {
    color:#ffffff;
  }
  
  h2 {
    border-bottom: 2px solid #000000;
  }
  
  .site-header {
    background: #000000 no-repeat center url("icons8-солнце.svg");
    color: #ffffff;
  }
  
  .feature-furniture {
    background-image: url("../images/t-shirtb.png");
  }

  .feature-lighting {
    background-image: url("../images/textileb.png");
  }

  .feature-accessories {
    background-image: url("../images/coinb.png");
  }
  
  .advantages-item {
    border-left: 20px solid #E19207;
    color: #000000;
  }
  
  .standard {
    border-color: #E19207;
    color: #000000;
  }
  .vip {
    border-color: #E19207;
    color: #000000;
  }
  .site-footer {
    background-color: #000000;
    color: #ffffff;
  }
  ul.nav a {
    background-color: #000000;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  ul.nav a:hover{
    background-color: #E19207;
    color: #000000;
    border: 1px solid #E19207;
  }