.cards-grid {
    display: grid;
    gap: 40px;
    justify-content: center;
    grid-template-columns: repeat(3, 410px);
    grid-template-rows: repeat(2, 320px);
    grid-template-areas: 
    "XXXX XXXX XXXX"
    "XXXX XXXX XXXX" 
    ;
    padding: 40px 0;

}
.card{
    border-radius: 15px;
    background-color:rgb(255, 255, 255);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    position: relative;
    transition: 0.2s;
}

.card:hover{
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.card__top{
flex: 0 0 310px;
}

.card__bottom{
    flex: 1 0 auto;
}

.product-1 {grid-area: product1;}
.product-2 {grid-area: product2;}
.product-3 {grid-area: product3;}
.product-4 {grid-area: product4;}
.product-5 {grid-area: product5;}
.product-6 {grid-area: product6;}
