 
  .page{
    margin: 0;
    padding: 0;
    font-family: "Courier New", sans-serif;
    font-size: 17px;
    line-height: 20px;
  }
  
  .wrapper {
    position: relative;
    overflow-x: hidden;
  }
  
 /*----------------------Шапка сайта----------------------*/
 .site-header {
  width: clamp(320px, 100vw, 100%);
  height: 205px;
  background-size: cover;
}

 .container {
  display: flex;
  justify-content: space-between;
  margin: 0px clamp(20px, 20vw, 80px) 10px clamp(10px, 5vw, 80px);
  padding-top: 20px;
  width: clamp(288px 20vw 1728px);
  height: 160px;
  }

  /*----------------------Контейнер текста----------------------*/
  .container .container-text {
    padding: 0px;
    width: clamp(67px, 30vw, 400px);
    height: 158px;
    }

 h1 {
    width: clamp(220px, 38vw, 390px);
    height: 38px;
    margin: 10px 0px 10px 10px;
    font-family: "Courier New", serif;
    text-align: left;
    font-weight: normal;
    font-size: clamp(32px, 3vw, 57px);
    line-height: 40px;
  }

  .site-header p {
    width: clamp(250px, 32vw, 630px);
    margin: 5px 0px 10px 10px;
    text-align: left;
    line-height: 21px;
    font-size: clamp(12px, 1.3vw, 21px);
  }
  
  ul.nav{
    margin-top: 25px; 
    padding: 0px 0px 0px 0px;
    width: clamp(380px, 40vw, 650px);
    list-style: none;
  }

  .nav li {
    float: left;
  }


  ul.nav a {
    display: inline-block;
    width: clamp(30px, 6.1vw, 120px);
    padding: 11px;
    margin: 0px 5px;
    text-decoration: none;
    text-align: center;
    font-size: clamp(11px, 1vw, 21px);
  }

  .menu-btn {
    display: none;
  }
  
  /*----------------------Контейнер лого----------------------*/
  .container .container-logo {
    padding: 0px;
    width: clamp(30px 5vw 180px);
    height: 158px;
    }

  .site-header img {
    margin: 0px 0px 0px 0px;
    float: center;
    display: block;
    }

  .logotype {
    width: 180px;
    height: 150px;
    display:inline;
    }
  
  .link-text{
    text-decoration: none;
  }

  /*----------------------Контейнер кнопки----------------------*/
  .container .container-button {
    padding: 0px;
    width: clamp(67px, 30vw, 400px);
    height: 158px;
    }

  .theme-button {
    float: right;
    margin: 0px;
    font-family: "Courier New", sans-serif;
    font-size: clamp(14px, 1vw, 17px);
  }
  
  .auto-container{
    position: fixed;
    right: 50%;
    top: 25%;
    width: 20%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    transition: 0.5s;
    opacity: 0;
  }
  
  .reg-container{
    position: fixed;
    right: 25%;
    top: 25%;
    width: 25%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    transition: 0.5s;
    opacity: 0;
  }
  .autorisation, .registration{
    text-align: center;
    margin: 15px 40px;
  }
  .autorisation input, .registration input{
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 20px;
    border: 1px solid #fff;
    box-sizing: border-box;
  }

  .autorisation input[type="text"]:focus, .autorisation input[type="password"]:focus, .registration input[type="text"]:focus {
    border: 1px solid #E19207;
  }
  
  .autorisation input[type="submit"], .registration input[type="submit"] {
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
  }

  .autorisation input[type="submit"]:hover, .registration input[type="submit"]:hover{
    background: #E19207;
    color: #000000;
    border: 1px solid #000000;
  }

  .auto-container a {
    display: block
    padding 0 0 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
  }

  .auto-container a:hover {
    color: #E19207;
  }

  
  .auto-container_active{ 
    opacity: 1;
  }
  .reg-container_active {
    opacity: 1;
  }
  .auto-container h1, .reg-container h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    font-size: 50px;
  }
  
  .auto-btn{
    position: fixed;
    right: 25px;
    top: 15px;
  }

  .forget{
    font-family: "Courier New", sans-serif;
  }

  /*----------------------Тело сайта----------------------*/
   .container-main{
    display: block;
    height: 653px;
    width: 100%;

   }
   .container-imagestop{
    float: left;
    width: 50%;
    height: 105px;
    margin-bottom: 448px;
  }

  .polynomtop {
    width: 100%;
    height: 100px;

  }

  .container-text-under{
    float: right;
    width: 49%;
    height: 635px;
    margin-top: 0px;
  }

  .container-imageslow{
    width: 50%;
    height: 100px;
  }

  .polynomlow {
    width: 100%;
    height: 100px;
  }

  h2 {
    padding-bottom: 12px;
    margin-top: 35px;
  }
  
  .informa {
    margin: 0 auto 10px;
    padding: 0 20px;
    
  }
  .informa-item{
    font-size: 18px;
  }    

  .features {
    margin: 0 auto 10px;
    padding: 0 20px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
  }
  
  .feature-furniture {
    padding-top: 85px;
  }
  
  .feature-lighting {
    padding-top: 85px;
  }
  
  .feature-accessories {
    padding-top: 85px;
  }
  
  .advantages {
    margin: 0 auto 40px;
    padding: 0 20px;
  }
  
  .advantages-list {
    padding: 0;
    list-style: none;
  }
  
  .advantages-item {
    margin-bottom: 15px;
    padding-left: 20px;
  }

  .text-how{
    margin-left: 10px;
    font-size: x-large;
  }
  
  .container-con{
    display: flex;
    align-items: center;
    padding-bottom: 277px;
  }
  .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 10px;
    width: 3%;
    height: 300px;
  }
  .links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 7%;
    height: 300px;
  }

  .links a{
    color: #E19207;
    border-bottom: #E19207;
  }
  
  
  /*----------------------Подвал сайта----------------------*/
  .site-footer {
    /*position:absolute;*/
    bottom: 0;
    width: 100%;
  }
  
  .site-footer .containerf {
    text-align: center;
  }
  
  .site-footer p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
  }

  /*----------------------Медиа запросы----------------------*/

  @media (max-width: 768px) {

  
    .site-header {
      width: 768px;
      height: 165px;
      background-size: cover;
      position: static;
    }
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      width: 700px;
      height: 290px;
      }
  
      h1 {
          width:400px;
          height: 50px;
          margin: 35px 0px 20px 3px;
          font-size: 50px;
          line-height: 92px;
        }
      
        .site-header p {
          width: 650px;
          margin: 5px 0px 10px 5px;
          text-align: left;
          line-height: 21px;
          font-size: 21px;
        }
  
      .container .container-text {
        padding: 0px;
        width: 270px;
        height: 250px;
        }
     
      .container .container-logo {
        padding: 0px;
        width: 150px;
        height: 100px;
        margin-bottom: 150px;
        }
  
        .logotype {
          width:150px;
          height: 100px;
          display:inline;
          }
  
          ul.nav{
            /*
            align-self: center;
            margin: 0; 
            padding: 0px 0px 0px 0px;
            width: 540px;
            */
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 50%;
            flex-direction: column;
          }
  
          ul.nav a {
            display: inline-block;
            width: 100px;
            padding: 11px;
            margin: 0px 5px;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
          }
          
          .menu {
            position: fixed;
            left: 0; top: 0;
            width: 25%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000000;
            border-right: 1px solid #ffffff;
            transition: 0.5s;
            transform: translateX(-100%);
          }
          .menu_active {
            transform: translateX(0%);
          }
        
          .menu-btn {
            display: block;
            width: 45px;
            height: 45px;
            background-color: #000000;
            border-radius: 7px;
            position: absolute;
            right: -55px;
            top: 10px;
          }
        
          .menu-btn_active{
            right: 10px;
            top: 10px;
          }
      .container .container-button {
        padding: 0px;
        width: 150px;
        height: 250px;
        }
  
        .container-main{
          display: grid;
          grid-template-rows: 100px 650px 100px;
          height: 845px;
          width: 768px;
      
         }
        .container-imagestop{
          width: 768px;
     
        }
        .polynomtop {
          width: 768px;
        }
      
        .container-text-under{
          width: 768px;
        }

        .container-imageslow{
          width: 768px;
        }

        .polynomlow {
          width: 768px;
        }

        .container-con{
          display: flex;
          align-items: center;
          padding-bottom: 277px;
        }
  
        .icons{
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          margin-left: 0px;
          width: 10%;
          height: 300px;
        }
  
        .links{
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          width: 15%;
          height: 300px;
        }
      
        .links a{
          color: #E19207;
          border-bottom: #E19207;
        }

        .site-footer {
          position: static;
          bottom: 0;
          width: 768px;
        }

        .site-footer p {
          display: inline-block;
          vertical-align: middle;
          padding: 0 15px;
          margin: 15px;
          font-size: 16px;
        }

  }


@media (max-width: 320px) {

  .site-header {
    width: 320px;
    height: 260px;
    background-size: cover;
  }

  .container {
    display: flex;
    flex-flow: column-reverse;
    padding: 0px;
    width: 280px;
    height: 270px;
    }

    h1 {
        width:220px;
        height: 38px;
        margin: 5px 0px 0px 25px;
        font-size: 32px;
        line-height: 40px;
      }
    
      .site-header p {
        width: 270px;
        margin: 5px 0px 10px 0px;
        text-align: center;
        line-height: 21px;
        font-size: 12px;
      }
   
    .container .container-logo {
      padding: 0px;
      width: 92px;
      height: 74px;
      margin-bottom: 0px;
      }

      .logotype {
        width:92px;
        height: 74px;  
        }

        ul.nav{
          /*
          align-self: center;
          margin: 0; 
          padding: 0px 0px 0px 0px;
          width: 260px;
          */
          list-style: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 50%;
          flex-direction: column;
        }

        ul.nav a {
          display: inline-block;
          width: 50px;
          padding: 11px;
          margin: 0px 5px;
          text-decoration: none;
          text-align: center;
          font-size: 11px;
        }

        .menu {
          position: fixed;
          left: 0; top: 0;
          width: 35%;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000000;
          border-right: 1px solid #ffffff;
          transition: 0.5s;
          transform: translateX(-100%);
        }
        .menu_active {
          transform: translateX(0%);
        }
      
        .menu-btn {
          display: block;
          width: 45px;
          height: 45px;
          background-color: #000000;
          position: absolute;
          right: -55px;
          top: 10px;
        }
      
        .menu-btn_active{
          right: 10px;
          top: 10px;
        }

    .container .container-button {
      padding: 0px;
      width: 270px;
      height: 24px;
      margin-top: 10px;
      }

      .theme-button {
        float: right;
        margin: 0px;
        font-family: "Courier New", sans-serif;
        font-size: 14px;
      }

      .container-main{
        display: grid;
        grid-template-rows: 50px 1250px 50px;
        height: 1350px;
        width: 320px;
    
       }
      .container-imagestop{
        width: 320px;
        height: 70px;
      }
      .polynomtop {
        width: 320px;
        height: 50px;
      }
    
      .container-text-under{
        width: 320px;
        height: 1250px;
      }

      .container-imageslow{
        width: 320px;
        height: 70px;
      }

      .polynomlow {
        width: 320px;
        height: 50px;
      }

      .container-con{
        display: flex;
        align-items: center;
        padding-bottom: 277px;
      }

      .icons{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 15px;
        width: 10%;
        height: 300px;
      }

      .links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
        height: 300px;
      }
    
      .links a{
        color: #E19207;
        border-bottom: #E19207;
      }
      
      .site-footer {
        position: static;
        bottom: 0;
        width: 320px;
      }
      
      .site-footer .containerf {
        text-align: center;
      }
      
      .site-footer p {
        display: inline-block;
        vertical-align: middle;
        padding: 0 20px;
        margin: 5px;
        font-size: 12px;
      }

}