<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>New-Polynom магазин мерча</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/light-theme.css">
  </head>
  <body class="page">
    <header class="site-header">
      <div class="wrapper">
      <div class="container">
        <div class="container-text">
          <a class="link-text" href="home.html">
            <h1>New-Polynom</h1>
          </a>
          <p>Наши Контакты</p>
          <div class="menu">
            <a href="#" class="menu-btn">
              <img src="../icons/menustat.png" width="45px" height="45px">
            </a>
            <ul class="nav">
              <li><a href="home.html">Главная</a></li>
              <li><a href="shop.html">Магазин</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="index.html">О сайте</a></li>
            </ul>
          </div>
      </div>
      <div class="container-logo">
        <a class="link-logo" href="home.html">
          <img class="logotype" src="../images/logotype.PNG" width="180" height="150">
        </a>
      </div>
        <div class="container-button">
          
        </div>
        <div class="search" width="40px" height="40px">
          <img class="search_btn" src="../icons/search.png">
            <div class="input">
              <input id="Search" type="text" placeholder="Поиск">
            </div>
        </div>
        <a href="#" class="auto-btn">
          <img src="../icons/accaunt.png" width="50px" height="50px">
        </a>
      </div>
      </header>
    <div class="text-how">
      <p><b>Как с нами связаться?</b></p>
    </div>
    <div class="container-con">
      <div class="icons">
        <img src="../icons/instastat.png">
        <img src="../icons/vkstat.png">
        <img src="../icons/tgstat.png">
      </div>
      <div class="links">
        <a href="https://instagram.com/new_polynom?igshid=OGQ5ZDc2ODk2ZA=="><h3>Инстаграмм</h3></a>
        <a href="https://vk.com/new_polynom"><h3>Вконтакте</h3></a>
        <a href="#"><h3>Телеграмм</h3></a>
      </div>
    </div>
    <footer class="site-footer">
      <div class="containerf">
        <p>© Вишняков Калинин Щелкунов<br> 2023</p>
        <p>New-Polynom магазин мерча</p>
      </div>
    </footer>
    <script src="../script.js"></script>
  </div>
  </body>
</html>