<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>New-Polynom магазин мерча</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/light-theme.css">
  </head>
  <body class="page">
    <div class="wrapper">
    <header class="site-header">
      <div class="container">
        <div class="container-text">
          <h1>New-Polynom</h1>
          <p>Стильная одежда от вашей любимой вокальной студии</p>

          <div class="menu">
            <a href="#" class="menu-btn">
              <img src="../icons/menustat.png" width="45px" height="45px">
            </a>
            <ul class="nav">
              <li><a href="home.html">Главная</a></li>
              <li><a href="shop.html">Магазин</a></li>
              <li><a href="contacts.html">Контакты</a></li>
              <li><a href="index.html">О сайте</a></li>
            </ul>
          </div>
        </div>
        <div class="container-logo">
          <img class="logotype" src="../images/logotype.PNG">
        </div>
        <div class="container-button">
        </div>
        <div class="search" width="40px" height="40px">
          <img class="search_btn" src="../icons/search.png">
            <div class="input">
              <input id="Search" type="text" placeholder="Поиск">
            </div>
        </div>
        <a href="#" class="auto-btn">
          <img src="../icons/accaunt.png" width="50px" height="50px">
        </a>
        <div class="search" width="40px" height="40px">
            <img class="search_btn" src="../icons/search.png">
              <div class="input">
                <input id="Search" type="text" placeholder="Поиск">
              </div>
          </div>
      </div>
    </header>

    <div class="form-box">
        <div id="reg_id" class="reg-container">
            <h1>Регистрация</h1>
              <form action="http://localhost:5000/register" method="post">
                <input type="text" name="username" placeholder="Логин" required>
                <input type="password" name="password" placeholder="Пароль" required>
                <input type="email" name="email" placeholder="Почта" required>
                <button type="submit">Зарегистрироваться</button>
              </form>
        </div>
    </div>
    <footer class="site-footer">
      <div class="containerf">
        <p>© Вишняков Калинин Щелкунов<br> 2023</p>
        <p>New-Polynom магазин мерча</p>
      </div>
    </footer>
    <script src="../script.js"></script>
    <script src="../db.js"></script>
  </div>
  </body>
</html>